#scoreHeading {
    color: #05c46b;
    margin-top: auto;
    text-align: center;
    text-shadow: 0 0 50px rgb(42, 145, 73), 0 0 30px rgb(42, 145, 73), 0 0 60px rgb(42, 145, 73), 0 0 120px rgb(42, 145, 73);
}

body {
    background-color: #1e272e;
    color: #d2dae2;
    font-family: monospace;
}

p {
    font-size: large;
    margin-top: auto;
}

i {
    font-size: large;
    margin-top: auto;
    margin-left: 200px;
}

.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.content-table thead tr{
    background-color: #485460;
    color: white;
    text-align: left;
    font-weight: bold;
}

.content-table th {

}

.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr{
    border-bottom: 1px solid #485460;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #808e9b;
}


.content-table tbody tr:last-of-type {
    border-bottom: 2pc solid #485460;
}


#homeBtn {
    margin-left: 200px;
    cursor: pointer;
}

#homeBtn:hover {
    box-shadow: 0 0 10px rgb(42, 145, 73), 0 0 30px rgb(42, 145, 73), 0 0 60px rgb(42, 145, 73), 0 0 120px rgb(42, 145, 73);
}