#snakeGameHeading {
    text-align: center;
    color: #05c46b;
    margin-top: auto;

}

body {
    background-color: #1e272e;
    font-family: monospace;
}

#gameCanvas {
    background-color: #808e9b;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#setDifficultyDiv {
    background-color: #485460;
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 10px;
    box-shadow: 0 5px 8px rgba(5, 196, 107, 0.24);
    margin-bottom: 12px;
    cursor: pointer;
}

#diffHeading {
    margin-left: 200px;
    color: #0be881;
}

.scores {
    color: #05c46b;
    text-align: center;
    text-shadow: 0 0 15px rgb(42, 145, 73), 0 0 30px rgb(42, 145, 73), 0 0 60px rgb(42, 145, 73), 0 0 120px rgb(42, 145, 73);
}


/*https://uiverse.io/catraco/stupid-wasp-67*/
#startGameBtn {
    border: none;
    outline: none;
    background-color: #05c46b;
    padding: 10px 20px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    border-radius: 5px;
    transition: all ease 0.1s;
    box-shadow: 0px 5px 0px 0px #0be881;
    margin-left: auto;
    margin-right: auto;
    display: block;
    cursor: pointer;
}

#startGameBtn:active {
    transform: translateY(5px);
    box-shadow: 0px 0px 0px 0px #a29bfe;
}

#homeBtn {
    margin-left: 200px;
    cursor: pointer;
}

#homeBtn:hover {
    box-shadow: 0 0 10px rgb(42, 145, 73), 0 0 30px rgb(42, 145, 73), 0 0 60px rgb(42, 145, 73), 0 0 120px rgb(42, 145, 73);
}