#snakeGameHeading {
    text-align: center;
    color: #05c46b;

}

body {
    background-color: #1e272e;
    font-family: monospace;
}

#gameCanvas {
    background-color: #808e9b;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#setDifficultyDiv {
    background-color: #485460;
    display: flex;
    gap: 25px;
    margin-left: 50px;
    margin-right: 50px;
}

#diffHeading {
    margin-left: 50px;
    color: #0fbcf9;
}

#highscore {
    color: #05c46b;
    text-align: center;
}

#startGameBtn {
    color: #1e272e;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}